body {
	margin: 0 auto;
	padding: 0;
}

.wrapper {
    	min-width: 600px;
	max-width: 1440px;
        margin: 0 auto;
        background: #F6EFE8;
/*        padding: 0 20px;*/
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #D2908B;
        background: #F6EFE8;
}

.tittle {
	font-size: 1.875rem;
	line-height: 2.25rem;
	margin-left: 65px;
	align-self: center;
}

.header-links {
        margin-top: 65px;
	margin-bottom: 5px;
	display: inline-flex;
}

.header-links a {
	color: #D2908B;
	text-decoration: none;
}

.blind {
        margin-right: 20px;
	display: block;
	background-image: url(images/eye.png);
	background-repeat:  no-repeat;
	background-size: 11%;
	text-indent: 35px;
	margin-left: 12px;
}

/* Навигационная панель */

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    background: #D2908B;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.menu li {
  position: relative;
  width: 192px;
  height: 100px;
}

.menu a {
  text-align: center;
  display: flex;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu .sub-menu {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #D2908B;
  z-index: 1;
}

.menu .sub-menu li {
  height: 50px;  
}
  
.menu .sub-menu a {
  margin-bottom: -1px;
  color: white;
  text-decoration: none;
  padding:3px 5px;
}

.menu li:hover {
  background-color: #C3827D;
}

.menu > li:hover .sub-menu {
  display: block;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.menu li:active {
    border: 4px solid #F7EFE8;
    box-sizing: border-box;
}

.search-form {
    display: inline-block;
    margin-right : 17px;
    width: 300px;
    padding: 20px 0;
       
}

.search-form .search-text {
    background-image: url(images/glass.png);
    background-repeat:  no-repeat;
    background-position: 13px 5px;
    text-indent: 56px;
    width: 100%;
    height: 35px;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

textarea:focus, 
input:focus {
    outline: none;
}

.navigation {
    padding: 5px 20px; 
    
}

.navigation a:last-child {
   display: inline;
   color: #D2908B;
   text-decoration: none;
   padding-left: 20px;
   vertical-align: top;
   line-height: 17px;
}

.content {
   margin-top: 45px;
   border: solid 1px #e7e7e7;
 
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
}

.row-two {
    padding-top: 60px;
}

.grid-item-left {
  padding-left: 20px;
  margin-right: 15px; 
  flex: 2;
  border: solid 1px #e7e7e7;
}

.grid-item-right {
  padding-right: 20px;
  flex: 1; 
  border: solid 1px #e7e7e7;
  flex-shrink: 2;
}

h2 {
   margin: 0;
   color: #D2908B
}

.grid-item-left p {
    text-align: justify;
    margin: 0;
    padding: 15px 0;
    padding-bottom: 120px;
    border-bottom: 2px dashed rgba(210, 144, 139, 0.5);
}

.grid-item-right h2,
.grid-item-right p {
    padding: 0;
}

iframe {
     border: 2px solid #D2908B;
     width: 100%;
     height: 85%;
     margin-top: 15px;
     
}


body {
  padding: 10px;
}

.carousel {
  position: relative;  
  padding: 10px 60px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
}

.carousel img {
  width: 200px;
  height: 145px;
  /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
  display: block;  
border: 2px solid rgba(210, 144, 139, 0.5);
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
border-radius: 1px;
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery { 
  width: 800px;
  overflow: hidden;
  background: red;
  margin: 0 60px;
}

.gallery ul {
    
  height: 150px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
  font-size: 0;
}

.gallery li {
  display: inline-block;
  margin-right: 35px;
}