body {
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;    	
    max-width: 1440px;
    margin: 0 auto;
    background: #F6EFE8;
/*        padding: 0 20px;*/
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #D2908B;
        background: #F6EFE8;
}

.tittle {
	font-size: 1.875rem;
	line-height: 2.25rem;
	margin-left: 65px;
	align-self: center;
}

.header-links {
        margin-top: 65px;
	margin-bottom: 5px;
	display: inline-flex;
        align-items: center;
}

.header-links a {
	color: #D2908B;
	text-decoration: none;
}

.language {
    white-space: nowrap;
    padding-left: 20px;
}

.blind {        
        margin-right: 20px;	
        background: transparent; 
        border: none;
        box-shadow: none;
	background-image: url(../images/eye.png);
	background-repeat:  no-repeat;
background-position: 0% 50%;        
	background-size: 10%;
	text-indent: 25px;
	margin-left: 20px; 
        white-space: nowrap;
}

/* Главное меню и поиск */

.nav-bar {
    display: flex;
    flex-wrap: nowrap;
    background: #D2908B;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 66%;
}

.menu li {
  position: relative;
  width: 20%;
  height: 100px;
}

.menu a {
  text-align: center;
  display: flex;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu .sub-menu {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #D2908B;
  z-index: 1;
  width: 100%;  
}

.menu .sub-menu li {
  height: 50px;
  width: 100%;
}
  
.menu .sub-menu a {
  margin-bottom: -1px;
  color: white;
  text-decoration: none;
  padding: 3px 5px;  
}

.menu li:nth-child(2) span::after {
  content: ' ▼';
}

.menu li:nth-child(2) span.up::after {
  content: ' ▲';
}


.menu li:nth-child(2) div {
   display: flex;
   line-height: 1.5rem;
  height: 100%;
  justify-content: center;
  align-items: center;
   text-align: center; 
}

.menu li:hover {
  background-color: #C3827D; 
}

.menu > li:hover .sub-menu {
/*  display: block;*/
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.sub-menu.open {
    display: block;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.menu li:active {
    border: 4px solid #F7EFE8;
    box-sizing: border-box;
}

.search-form {
    display: inline-block;
    margin-right : 17px;
    width: 300px;
    padding: 20px 0;
       
}

.search-form .search-text {
    background-image: url(../images/glass.png);
    background-repeat:  no-repeat;
    background-position: 13px 5px;
    text-indent: 56px;
    width: 100%;
    height: 35px;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

textarea:focus, 
input:focus {
    outline: none;
}

/*Кнопка "назад" и ссылка на открытую страницу*/

.navigation {
    padding: 5px 20px; 
    
}

.navigation a:last-child {
   display: inline;  
   text-decoration: none;
   padding-left: 20px;
   vertical-align: top;   
}

/*Сетка контента*/

.content {
   margin-top: 45px;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
}

.row-two {
    padding: 60px 0;
}

.grid-item-left {
  padding-left: 20px;
  margin-right: 15px; 
  flex: 2;
  flex-shrink: 1;
}

.grid-item-right {
  padding-right: 20px;
  flex: 1; 
  flex-shrink: 2;
}

h2 {
   margin: 0;   
}

.grid-item-left p {
    text-align: justify;
    margin: 0;
    padding: 15px 0;
    padding-bottom: 120px;
    border-bottom: 2px dashed rgba(210, 144, 139, 0.5);
}

.grid-item-right h2,
.grid-item-right p {
    padding: 0;
}

iframe {
     box-sizing: border-box;
     border: 2px solid #D2908B;
     width: 100%;
     min-height: 292px;
     margin-top: 15px;     
}

.carousel {
  position: relative;  
  padding: 0 60px;
  padding-top: 15px;
}

.carousel img {
width: 100%;
height: 100%;
  /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
display: block;  
border: 2px solid rgba(210, 144, 139, 0.5);
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
border-radius: 1px;
}

.arrow {
  position: absolute;
  top: 85px;
  padding: 0; 
  font-size: 3.125rem;
  line-height: 24px; 
  display: inline-block;    
  transform: scale(2, 4.5); 
  color: #DDBAB8;
  text-shadow: 0 3px 4px rgba(0,0,0,0.5);  
}

.arrow:focus {
  outline: none;
}

.arrow:hover {  
  cursor: pointer;
  color: #F5E2E1;
  outline: none;
}

.arrow:active {
  cursor: pointer;
  color: #FDF9F9;
  outline: none;
}

.prev {
  left: 2px;
}

.next {
  right: 2px;
}

.gallery {
  max-width: 800px;
  overflow: hidden;
  background: #F5E2E1;
  margin: 0;  
}

.gallery ul {
  height: 160px;
  max-width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
  font-size: 0;
}

.gallery li {
  width: 200px;
  height: 145px;
  display: inline-block;
  margin: 5px 0;
  margin-right: 35px;
  text-align: center;
}

.gallery li:first-child {
    margin-left: 60px;   
}

.gallery li:last-child {
    margin-right: 60px;   
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.links a img {
    padding-right: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: #D2908B;    
}

footer a {
    display: flex;
    align-items: center;
    text-decoration: none;       
}
    
.feedback {      
   background-image: url(../images/footer-sprite.png);
   background-repeat: no-repeat;
   background-position: 0px -10px;
   width: 25px;
   height: 20px;
   margin-left: 20px;
   margin-right: 10px;   
}

.sitemap {   
   background-image: url(../images/footer-sprite.png);
   background-repeat: no-repeat;
   background-position: -35px -10px;
   width: 25px;
   height: 20px;
   margin-left: 10px;
   margin-right: 20px; 
}

.copyright {   
    text-align: center;    
}

/*Шрифты и цвет текста*/

@font-face {
    font-family: 'HondaC';
    src: local('HondaC'),
        url('../fonts/HondaC.woff2') format('woff2'),
        url('../fonts/HondaC.woff') format('woff'),
        url('../fonts/HondaC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: HondaC;
    src: local(HondaC), url(../fonts/HondaC.ttf);
}*/
/*
@font-face {
    font-family: MyraidPro, Arial, Tahoma, sans-serif;
}*/

.tittle,
.menu li a,
.menu li:nth-child(2),
h2 {
    font-family: HondaC, Arial, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.tittle {
    font-size: 1.875rem;
}

.menu li a,
.menu li:nth-child(2) {
    color: #F6EFE8;
    font-size: 1.25rem;   
}

.menu .sub-menu a {
    color: #F6EFE8;
    font-size: 1rem;    
}

h2,
.texthide {
    font-size: 1.5rem;    
    color: #D2908B
}

p {    
    font-family: "Myriad Pro", Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.1875rem;
}

.navigation a,
.header-links,
.blind,
footer a,
.copyright {
    font-family: Tahoma;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: #D2908B;
}

footer a {
    color: #F7EFE8;
}

.copyright {
    color: #000000;
    line-height: 2.1875rem;
}

/*версия для слабовидящих*/

/*спрятаные по умолчанию текстовые ссылки версии для слабовидящих*/
.texthide {
    display: none;
    padding: 10px;
    padding-left: 0;
}

/*спрятать любой элемент(для js)*/
.close {
    display: none;
}

/*показать любой элемент(для js)*/
.open {
    display: block;
}